@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100..900&family=Nova+Mono&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a,
p {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

:root {
    /* Background Color */
    --primary: #be282f;
    --bg-white: #fff;
    --bg-light-white: #f6f7f8;
    --bg-light-black: #333333;
    --bg-black: black;

    /* Text Color */
    --text-black: #1f1f1f;
    --text-white: #fff;
    --text-light-black: #6b6b6b;
}

.wrapper {
    padding: 3.5rem 0;
}

.main-btn {
    font-size: 1rem;
    font-weight: 700;
    line-height: 0.75;
    color: black;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    outline: 0 none;
    z-index: 1;
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    background-color: transparent;
    border: 3.5px solid #be282f;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.main-btn:hover {
    color: white;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #be282f;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--bg-light-white);
}

::-webkit-scrollbar-thumb {
    background: var(--text-black);
}

.navbar img {
    width: 100px;
    height: 100px;
}

.navbar-nav .nav-link {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}

.navbar-nav .nav-link:hover {
    color: #be282f;
}

/*owl coursel section*/


.owl-hero {
    position: relative;
}

.owl-hero .owl-prev {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
}

.owl-hero .owl-prev i {
    color: var(--primary);
    font-size: 30px;
}

.owl-hero .owl-prev:hover i {
    background-color: #fff;
    padding: 20px 3px;
    border-radius: 10px;
}

.owl-hero .owl-next {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

.owl-hero .owl-next i {
    color: var(--primary);
    font-size: 30px;
}

.owl-hero .owl-next:hover i {
    background-color: #fff;
    padding: 20px 3px;
    border-radius: 10px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 40%;
    color: #f5f5f5;
}

.hero-text h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 50px;
}

.hero-text a {
    background-color: var(--primary);
    color: #fff;
    font-weight: 500;
    padding: 12px 30px;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.hero-text a:hover {
    background-color: #fff;
    color: var(--primary);
}

.hero-slider {
    background-color: #000;
    position: relative;
}

.hero-slider img {
    height: 90vh !important;
    opacity: 0.4;
}

/*about section*/


.about-text h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
}

.about-text h1 span {
    color: #be282f;
}

.about-text p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    text-align: justify;
}

.about-img img {
    width: 700px;
    height: 450px;
    display: block;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*Counter section*/

.counter-head {
    padding: 2rem 0;
}

.counter-head h1 {
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 3.5rem;
    line-height: 3.5rem;
}

.counter-head h1 span {
    color: #be282f;
}

.counter-head h4 span {
    color: #be282f;
    font-weight: 700;
}

.counter-section {
    background-color: #be282f;
    padding: 2.5rem 0;
    color: white;
}

.counter-section p {
    color: white;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
}

/*why to choose us section*/

.choose-card {
    padding: 2rem 1rem;
    background-color: #E7EAEA;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.choose-card .choose-head h4 {
    font-weight: 700;
}

.choose-card .choose-head h4 i {
    font-size: 2rem;
    margin-right: 1rem;
}

.choose-card .choose-text p {
    margin-left: 3rem;
    text-align: justify;
}

/*event section*/
.event-card {
    height: 705px;
    border-radius: 10px;
    background-color: #be282f;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 5px;
}

.event-card:hover img {
    transform: scale(1.1);
    opacity: 0.5;
}

.event-img {
    overflow: hidden;
    border-radius: 10px;
    background-color: #000;
}

.event-img img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    transition: all 2s;
}

.event-text {
    padding: 20px;
    cursor: pointer;
    background-color: #fff;
    height: 395px;
}

.event-text p {
    text-align: justify;
    font-size: 17px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*testimonials section*/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.test-head p {
    margin-bottom: 1rem;
}

.test-head {
    text-align: center;
}

.test-text {
    text-align: center;
}

.test-text p {
    max-width: 70%;
    margin: 0 auto;
}

.test-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test-img img {
    width: 80px;
    height: 80px;
    margin: 1rem 0;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50px;
    background-color: white;
    color: #be282f;
    padding: 2rem 2rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: #be282f;
    color: white;
}

/*contact section*/
.contact-main {
    padding-top: 2rem;
}

.contact-head h5 {
    padding-bottom: 0.5735rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #be282f;
}

.contact-head p {
    font-size: 1.2rem;
}

.contact-head p i {
    font-size: 1.2rem;
    color: #be282f;
    padding-right: 1rem;
}

.send-contact-div {
    background-color: #fff;
    padding: 30px 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: -240px;
    z-index: 1;
    position: relative;
}

.send-contact>input {
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.send-contact textarea {
    width: 95%;
    padding: 10px 10px 40px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.send-contact textarea:focus-visible {
    outline: 0;
    outline-offset: 0;
    border: 1px solid var(--primary);
}

.btn-send-msg a {
    background-color: var(--primary);
    color: #fff;
    font-weight: 500;
    width: 95%;
    display: block;
    margin: 10px;
    padding: 12px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.btn-send-msg a:hover {
    background-color: #fff;
    color: var(--primary);
    border: 2px solid var(--primary);
}

.send-contact input:focus-visible {
    outline: 0;
    border: 1px solid var(--primary);
}

/*footer section*/

.footer-wrapper {
    background-color: #be282f;
}

.footer-wrapper h5 {
    color: #fff;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.footer-wrapper ul li {
    margin-bottom: 0.5rem;
    list-style: none;
}

.footer-wrapper .footer-nav ul li a {
    font-size: 1rem;
}

.footer-wrapper .contact-info ul li a {
    color: white;
}

.footer-wrapper .link-widget li a,
.footer-wrapper p {
    color: #fff;
    font-size: 0.875rem;
    padding: 1.5rem;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
}

.footer-wrapper .link-widget li a:before {
    color: #fff;
    font-family: "Font Awosome 6 free";
    font-weight: 900;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.footer-wrapper .link-widget li a:hover {
    color: black;
    margin: 0.625rem;
}

.footer-wrapper .social-network a {
    width: 2.1875rem;
    height: 2.1875rem;
    margin: 0.5rem;
    line-height: 2rem;
    font-size: 0.875rem;
    display: inline-block;
    border: 0.125rem solid white;
    text-align: center;
    border-radius: 100%;
    color: #fff;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.042, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.042, 0.355, 1);
}

.footer-wrapper .social-network a:hover {
    background-color: white;
    border-color: white;
    color: black;
    transform: translateY(-0.1875rem);
    box-shadow: 0 0.625rem0.9735rem rgb(0 0 0 / 10%);
}

.footer-wrapper input ::placeholder {
    color: white;
}

.footer-wrapper .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: white;
}

.footer-wrapper .copy-right-section {
    background-color: #021832;
    padding: 1.25rem 0 0.3125rem;
    color: #caa169;
    text-align: center;
}

.footer-btn {
    font-size: 1rem;
    font-weight: 700;
    line-height: 0.75;
    color: white;
    text-align: center;
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    outline: 0 none;
    z-index: 1;
    position: relative;
    font-family: "Roboto Condensed", sans-serif;
    background-color: transparent;
    border: 3.5px solid white;
    transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.footer-btn:hover {
    color: black;
    background-color: white;
}